[run]
omit = */py23_compat.py
plugins = Cython.Coverage
[report]
exclude_lines =
    pragma: no cover
    warnings.warn
    except ValueError:
    __str__
    __repr__
    __getitem__
    raise RuntimeError
