pypy*
py[0-9]*
gammapy
probfit
iminuit-dev

*.pyxbldc
*.root
*.so
*.html
*.pyc
*.o

build
_build
dist

.DS_Store
.idea
.vscode
.cache
.project
.pydevproject
.settings
.coverage
.ipynb_checkpoints
.eggs
.pytest_cache

Untitled*.ipynb
Untitled*.py
_libiminuit.cpp

!tutorial.html
!tutorial.ipynb

Pipfile
iminuit.egg-info
archive
html
env
MANIFEST

htmlcov
cover
coverage.xml
