*.root
.DS_Store
*.so
*.html
build
*.pyc
.idea
_build
archive
html
dist
MANIFEST
*.o
.project
.pydevproject
.settings
Untitled*.ipynb
Untitled*.py
.coverage
cover
_libiminuit.cpp

!tutorial.html
!tutorial.ipynb

.ipynb_checkpoints
iminuit.egg-info
