recursive-include iminuit *.h *.cpp *.pyx *.pxi *.py
recursive-include tutorial *.py *.ipynb *.pyx
recursive-include Minuit *
include *.py
include README.rst
include LICENSE
include iminuit/tests/cyfunc.pyx
include iminuit/tests/cyfunc.pyxbld
