include src/*.cpp
include src/*.hpp
include src/iminuit/*.py
include tests/*.py
include tests/*.txt
recursive-include extern/root/math/minuit2/inc *.h
recursive-include extern/root/math/minuit2/src *.cxx
recursive-include extern/pybind11/include *.h
include extern/pybind11/CMakeLists.txt
include extern/pybind11/tools/*.cmake
include extern/pybind11/LICENSE
include CITATION
include cmake_ext.py
include CMakeLists.txt
include CONTRIBUTING.md
include LICENSE
include pyproject.toml
include README.rst
include setup.cfg
include setup.py
