[build-system]
requires = [
    "setuptools>=42",
    "wheel",
    "cmake",
]
build-backend = "setuptools.build_meta"

[tool.nbqa.mutate]
black = 1

[tool.pytest.ini_options]
minversion = "6.0"
addopts = "-q -ra --ff"
testpaths = ["tests"]

[tool.cibuildwheel]
# this makes sure that we build only on platforms that have a corresponding numpy wheel
before-build = "python -m pip install numpy --only-binary=:all:"
# update skip when numpy wheels become available
skip = ["*-musllinux_*", "cp310-win32"]
test-requires = "pytest"
test-command = "python -m pytest {package}/tests"
test-skip = ["*universal2:arm64"]
manylinux-x86_64-image = "manylinux2014"
manylinux-i686-image = "manylinux2014"

[[tool.cibuildwheel.overrides]]
select = "cp3?-*"
manylinux-x86_64-image = "manylinux2010"
manylinux-i686-image = "manylinux2010"
