[build-system]
requires = [
    "setuptools>=42",
    "wheel",
    "cmake",
]
build-backend = "setuptools.build_meta"

[tool.nbqa.mutate]
black = 1

[tool.pytest.ini_options]
minversion = "6.0"
addopts = "-q -ra --ff"
testpaths = [
    "tests"
]

[tool.cibuildwheel]
test-requires = "pytest"
test-command = "python -m pytest {package}/tests"
test-skip = ["*universal2:arm64"]
manylinux-x86_64-image = "manylinux2014"
manylinux-i686-image = "manylinux2014"

[[tool.cibuildwheel.overrides]]
select = "cp3?-*"
manylinux-x86_64-image = "manylinux2010"
manylinux-i686-image = "manylinux2010"
