name: Coverage

on:
  pull_request:
    paths-ignore:
      - 'doc/**'
      - '.ci/**'
      - '*.rst'
  push:
    branches:
      - master
      - develop
      - beta/*
    paths-ignore:
      - 'doc/**'
      - '.ci/**'
      - '*.rst'

jobs:
  coverage:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - run: python -m pip install --upgrade pip
    - run: python -m pip install --prefer-binary -e .[test]
    - run: coverage run -m pytest
    - run: python -m pip uninstall --yes numba ipykernel
    - run: coverage run --append -m pytest
    - run: python -m pip uninstall --yes scipy matplotlib
    - run: coverage run --append -m pytest
    - uses: AndreMiras/coveralls-python-action@develop
