name: Docs

on:
  pull_request:
    paths-ignore:
      - '.ci/**'

jobs:
  docs:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - uses: actions/setup-python@v4
      with:
        python-version: 3.9
    - run: sudo apt-get install pandoc
    - run: python -m pip install --upgrade pip wheel
    - run: python -m pip install --prefer-binary -v .[doc,test]
    - run: python -m ipykernel install --user --name python3
    - name: sphinx-build
      run: |
        mkdir -p build/html
        sphinx-build -j3 -W -a -E -b html -d build/doctrees doc build/html
