name: Docs

on:
  pull_request:
    paths-ignore:
      - '.ci/**'

jobs:
  docs:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - run: sudo apt-get install pandoc
    - run: |
        python -m pip install --upgrade pip wheel
        python -m pip install .[doc]
        python -m ipykernel install --user --name python3
    - run: make doc
