name: pre-commit

on:
  pull_request:
  push:
    branches:
      - master
      - develop
      - beta/*

jobs:
  precommit:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - run: python -m pip install --upgrade pip wheel
    - run: python -m pip install pre-commit

    - run: pre-commit run -a
