name: Test

on:
  pull_request:
    paths-ignore:
      - 'doc/**'
      - '.ci/**'
      - '*.rst'

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        include:
          # version number must be string, otherwise 3.10 becomes 3.1
          - os: windows-latest
            python-version: "3.10"
          - os: macos-latest
            python-version: "3.6"
          - os: ubuntu-latest
            python-version: "pypy-3.7"
      fail-fast: false
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - run: python -m pip install --upgrade pip wheel
    # python -m pip install .[test] is not used here to test minimum (faster)
    - run: python -m pip install . pytest
    - run: python -m pytest

  # The aarch64 test is very slow, that's why we do not run it
  #
  # aarch64:
  #   strategy:
  #     matrix:
  #       py: cp39
  #       arch: [aarch64]
  #     fail-fast: false
  #   runs-on: ubuntu-latest
  #   env:
  #     py: /opt/python/${{ matrix.py }}-${{ matrix.py }}/bin/python
  #     img: quay.io/pypa/manylinux2014_${{ matrix.arch }}
  #   steps:
  #   - uses: actions/checkout@v2
  #     with:
  #       submodules: true
  #   - uses: docker/setup-qemu-action@v1
  #   - run: >
  #           docker run --rm -v ${{ github.workspace }}:/ws:rw --workdir=/ws
  #           ${{ env.img }}
  #           bash -exc '${{ env.py }} -m venv venv &&
  #           source venv/bin/activate &&
  #           python -m pip install --upgrade pip wheel &&
  #           python -m pip install . pytest'
  #   - run: >
  #           docker run --rm -v ${{ github.workspace }}:/ws:rw --workdir=/ws
  #           ${{ env.img }}
  #           venv/bin/python -m pytest
