name: Test

on:
  pull_request:
    paths-ignore:
      - 'doc/**'
      - '.ci/**'
      - '*.rst'

env:
  CMAKE_ARGS: -DCMAKE_CXX_COMPILER_LAUNCHER=ccache
  # Latest Jupyter requires this to acknowledge deprecation
  JUPYTER_PLATFORM_DIRS: 1

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]
        include:
          # version number must be string, otherwise 3.10 becomes 3.1
          - os: windows-latest
            python-version: "3.11"
          - os: macos-latest
            python-version: "3.8"
          - os: ubuntu-latest
            python-version: "pypy-3.8"
      fail-fast: false
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
    # must come after checkout
    - uses: hendrikmuhs/ccache-action@v1.2
      with:
        key: ${{ github.job }}-${{ matrix.os }}-${{ matrix.python-version }}
    - uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - run: python -m pip install --upgrade pip wheel
    # python -m pip install .[test] is not used here to test minimum (faster),
    # the cov workflow runs all tests
    - run: python -m pip install -v . pytest
    - run: python -m pytest

  # aarch64:
  #   runs-on: ubuntu-latest
  #   env:
  #     py: /opt/python/cp309-cp309/bin/python
  #     img: quay.io/pypa/manylinux2014_aarch64
  #   steps:
  #   - uses: actions/checkout@v4
  #     with:
  #       submodules: true
  #   - uses: docker/setup-qemu-action@v2
  #   - run: >
  #           docker run --rm -v ${{ github.workspace }}:/ws:rw --workdir=/ws
  #           ${{ env.img }}
  #           bash -exc '${{ env.py }} -m venv venv &&
  #           source venv/bin/activate &&
  #           python -m pip install --upgrade pip &&
  #           python -m pip install . pytest'
  #   - run: >
  #           docker run --rm -v ${{ github.workspace }}:/ws:rw --workdir=/ws
  #           ${{ env.img }}
  #           venv/bin/python -m pytest
